.search-form {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }
  
  .search-form input {
    width: 50%;
    border-radius: 35px;
    border-color: yellow;
    padding: 20px 20px;
    margin-bottom: 30px;
  }
  
  .search-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: yellow;
    border-radius: 35px;
    padding: 8px 20px;
    cursor: pointer;
    margin-bottom: 30px;
  }
  
  .search-form button:hover {
    background-color: tan;
    transition: 0s;
  }

  .gallery,
  .info {
    display: flex;
    flex-wrap: wrap;
  }
  
  .gallery {
    margin-left: -20px;
    padding-top: 30px;
    justify-content: center;
  }
  
  .gallery__link {
    margin-top: 20px;
    margin-left: 20px;
    min-width: 300px;
    flex-basis: calc((100% - 80px) / 4);
    border: none;
    overflow: hidden;
    background-color: #fff;
    transition: all 0.3s;
  }

  .gallery__link:hover,
.gallery__link:focus {
  transform: scale(0.8);
}

.gallery-item {
  display: flex;
  flex-direction: column;
}

.gallery-item__img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.info {
  padding: 10px;
  justify-content: space-between;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-size: initial;
}

 